<div>
    <div ng-show="errorMessageBox" class="heading" ><font size="2">{{errorContent}}</font></div>
    <B>Container ID :</B>
    <input ng-bind="containerid" type="text" style="border: none" id='containerID'>&nbsp;&nbsp;
    <button ng-click="containerresultPeekaBoo()" style="border:none;box-shadow: 5px 5px 5px black" class="scan" style="float: right;">Hide/Show Results</button>&nbsp;&nbsp;
    <br style="clear: both;" />
    <br style="clear: both;" />
    <button ng-click="inspectDockerContainer()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">Inspect</button>&nbsp;&nbsp;
    <button ng-click="startDockerContainer()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">Start</button>&nbsp;&nbsp;
    <button ng-click="stopDockerContainer()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">Stop</button>&nbsp;&nbsp;
    <button ng-click="pauseDockerContainer()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">Pause</button>&nbsp;&nbsp;
    <button ng-click="unpauseDockerContainer()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">UnPause</button>&nbsp;&nbsp;
    <button ng-click="killDockerContainer()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">Kill</button>&nbsp;&nbsp;
    <button ng-click="deleteDockerContainer()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">Delete</button>&nbsp;&nbsp;
    <br style="clear: both;" />
    <br style="clear: both;" />

    <B>Image ID/name :</B>
    <input ng-bind="imageName" type="text" style="border: none" id='imageName' ng-model="searchfield" ng-trim="false" ng-change="searchfield = searchfield.split(' ').join('')">&nbsp;&nbsp;
    <button ng-click="imageresultPeekaBoo()" style="border:none;box-shadow: 5px 5px 5px black" class="scan" style="float: right;">Hide/Show Results</button>&nbsp;&nbsp;

    <br style="clear: both;" />
    <br style="clear: both;" />

    <button ng-click="searchDockerImage()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">Search</button>&nbsp;&nbsp;
    <button ng-click="pullDockerImage()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">Pull</button>&nbsp;&nbsp;
    <button ng-click="deleteDockerImage()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">Delete</button>&nbsp;&nbsp;


    <div ng-show="inspectContainerTable">
        <br style="clear: both;" />
        <br style="clear: both;" />
        <button id="cmd" style="border:none;box-shadow: 5px 5px 5px black" class="scan" onclick="printJS({ printable: 'container-form', type: 'html', header: 'Container Report'})">Generate Report PDF</button>
        <div id="container-form">
            <br style="clear: both;" />
            <div ng-view ng-include src="'assets/snippets/docker_mono_options_inspectTable.html'"></div>
        </div>
    </div>



    <div ng-show="imageSearchTable">
        <br style="clear: both;" />
        <br style="clear: both;" />
        <button id="cmd" style="border:none;box-shadow: 5px 5px 5px black" class="scan" onclick="printJS({ printable: 'image-form', type: 'html', header: 'Image Search Report'})">Generate Report PDF</button>
        <div id="image-form">
            <br style="clear: both;" />
            <div ng-view ng-include src="'assets/snippets/docker_mono_options_imageSearch.html'"></div>
        </div>
    </div>
</div>