<div>
    <u>
        <p>Running Containers : </p>
    </u>
    <br style="clear: both;" />
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>State</th>
                <th>Status</th>
                <th>Ports</th>
                <th>IPAddress</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="container in containers">
                <td>{{container.Id.substr(0,12)}}</td>
                <td>
                    <ul>
                        <li ng-repeat="name in container.Names">
                            {{name}}
                        </li>
                    </ul>
                </td>
                <td>{{container.Image}}</td>
                <td>{{container.State}}</td>
                <td>{{container.Status}}</td>
                <td>
                    <span ng-repeat="port in container.Ports">
                        {{port.Type}}:{{port.PrivatePort}}
                        <span ng-if="$index != container.Ports.length - 1">|</span>
                    </span>
                </td>
                <td>{{container.NetworkSettings.Networks.bridge.IPAddress}}</td>
            </tr>
        </tbody>
    </table>
</div>