<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Docker Utility</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body>

    <h2>Docker-Utility</h2>
    <span>Scan,Manipulate Docker Environments</span>
    <ul class="tabs" role="tablist">
        <li>
            <input type="radio" name="tabs" id="tab1" checked />
            <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0">STATISTICS</label>
            <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description" aria-hidden="false">
                <div ng-app="myApp" ng-controller="myCtrl">
                    docker host :
                    <input ng-model="dockerhost">
                    <button ng-click="scanDockerHost()" style="border:none" class="scan">SCAN</button>
                    <br>
                    <p>Running Containers : </p>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>State</th>
                                <th>Created Time</th>
                                <th>Status</th>
                                <th>Ports</th>
                                <th>IPAddress</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="container in containers">
                                <td>
                                    <ul>
                                        <li ng-repeat="name in container.Names">
                                            {{name}}
                                        </li>
                                    </ul>
                                </td>
                                <td>{{container.State}}</td>
                                <td>{{container.Created}}</td>
                                <td>{{container.Status}}</td>
                                <td>
                                    <ul>
                                        <li ng-repeat="port in container.Ports">
                                            {{port}}
                                        </li>
                                    </ul>
                                </td>
                                <td>{{container.NetworkSettings.Networks.bridge.IPAddress}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p class="link">
                        <a href="tabs.html">Home</a>
                    </p>
                </div>
                <script src="docker_controller.js">
                </script>
            </div>
        </li>

        <li>
            <input type="radio" name="tabs" id="tab2" />
            <label for="tab2" role="tab" aria-selected="false" aria-controls="panel2" tabindex="0">Specification</label>
            <div id="tab-content2" class="tab-content" role="tabpanel" aria-labelledby="specification" aria-hidden="true">
                <p>hello there</p>
            </div>
        </li>
        <li>
            <input type="radio" name="tabs" id="tab3" />
            <label for="tab3" role="tab" aria-selected="false" aria-controls="panel3" tabindex="0">tab3</label>
            <div id="tab-content3" class="tab-content" role="tabpanel" aria-labelledby="tab3" aria-hidden="true">
                <p>hello there</p>
            </div>
        </li>
    </ul>

    <br style="clear: both;" />

    <!-- <p class="link">
        See the
        <a href="https://codepen.io/wallaceerick/pen/IGxim">3D Box</a> demo!</p> -->
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>



</body>

</html>