/* Style the tab */

.manager-tab {
    float: left;
    /* border: 1px solid #ccc; */
    background-color: #8e44ad;
    width: 10%;
    /* height: 300px; */
}

/* Style the buttons that are used to open the tab content */

.manager-tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    padding: 20px;
    text-align: left;
    font-family: Lato;
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #fff;
    background: #280536;
}

/* Change background color of buttons on hover */

.manager-tab button:hover {
    background-color: #703688;
}

/* Create an active/current "tab button" class */

.manager-tab button.active {
    background-color: #612e76;
    border-right: none;
}

/* Style the tab content */

.manager-tabcontent {
    float: left;
    padding: 0px 12px;
    /* border: 1px solid #ccc; */
    width: 90%;
    /* border-left: none; */
    border-collapse: collapse;
    /* height: 300px; */
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}