<div>
    <li>
        <input type="radio" name="tabs" id="tab1" checked />
        <label for="tab1" role="tab" aria-selected="true" aria-controls="panel1" tabindex="0">DOCKER STATISTICS</label>
        <div id="tab-content1" class="tab-content" role="tabpanel" aria-labelledby="description" aria-hidden="false">
            docker host :
            <input ng-model="dockerhost" type="text">&nbsp;&nbsp;
            <button ng-click="scanDockerHost()" style="border:none;box-shadow: 5px 5px 5px black" class="scan">Scan Docker Enviroment</button>
            <br>
            <br>
            <div ng-show="statisticsTable">
                <div ng-view ng-include src="'assets/snippets/docker_containers.html'"></div>
                <br style="clear: both;" />
                <div ng-view ng-include src="'assets/snippets/docker_images.html'"></div>
            </div>
        </div>
    </li>
</div>